{% extends "base.html" %}
{% block title %}{{ item.name }} · Lamplight{% endblock %}
{% block body %}
<header class="page-head">
  <div>
    <h1>{{ item.name }}</h1>
  </div>
</header>

<div id="component-panel" data-id="{{ item.id }}">
  {% include "_component.html" %}
</div>

{% if php %}
  <div id="php-panel">
    {% include "_php.html" %}
  </div>
{% endif %}

{% if item.id == 'mariadb' %}
  <div id="mariadb-panel">
    {% if mariadb %}{% include "_mariadb.html" %}{% endif %}
  </div>
{% endif %}

<div id="service-log-panel" data-id="{{ item.id }}">
  {% if sources is defined %}{% include "_service_log.html" %}{% endif %}
</div>
{% endblock %}
